body{
    background: url(../images/maxresdefault.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#header{
    background: white;
}

.questionsHeader{
    background: white;
    margin: 20px;
    height:auto;
    text-align: center;
    padding: 10px;
}

input[type=radio_name]{
    height: .5em;
}