body{
    background: url(../images/background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#header{
    background: white;
    background: url(../images/the-twilight-zone2.0);
    height: 200px;
    background-repeat: no-repeat;
    background-size: auto;
}

.questionsHeader{
    background: white;
    margin: 20px;
    height:auto;
    text-align: center;
    padding: 10px;
    opacity: .9;
}
